/* App.css or your layout wrapper */

html,
body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to right, #d617171a 1px, transparent 1px),
    linear-gradient(to bottom, #d524241a 1px, transparent 1px);
  background-size: 30px 30px;
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  align-items: flex-start;
  padding: 1rem;
  max-height: 80vh; /* or a fixed height, e.g. 600px */
  overflow-y: auto;
  padding-left: 10px; /* optional for spacing */
  /* border: 1px solid #ddd; optional for visibility */
  /* margin: 0 auto; */
  
  
}

/* Add Note Floating Button */
.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 50px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 1000;
  color: #ffffff;
  border-radius: 10px;
  background-color: #6366f1; /* Indigo Blue */
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.add-button:hover {
  background-color: #4f46e5; /* Darker Indigo */
  transform: scale(1.05);
}
